<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/flights/bg-dark.jpg');">
  <div class="container container--xxl">
    <div class="text--center">
      <h2 class="core-title core-title--xxl">Fly non-stop to New Orleans</h2>
      <div class="space--xxs"></div>
      <div class="core-sub-title">only with British Airways</div>
      <div class="space--md"></div>
      <p class="width width--lg">British Airways is the only airline to offer year-round, direct flights from London. Relax on the state-of-the-art 787 Dreamliner, featuring World Traveller economy, or upgrade to premium economy or to the luxury of Club World business class, all set to whisk you away to the birthplace of jazz and sazeracs in comfort and ease. Why wait? Book now to realise your NOLA dream.</p>
      <div class="space--sm"></div>
      <a id="track-btn-footer-flights" href="http://www.britishairways.com/en-gb/destinations/new-orleans?DM1_Channel=&DM1_Campaign=UKI_GB_EN_Secretescapes_NOLA_SE_DigitalDisplay&DM1_Site=Secretescapes&utm_source=Secretescapes&utm_medium=Display&utm_campaign=UKI_GB_EN_Secretescapes_NOLA_SE_DigitalDisplay" class="btn btn--red">See Flights & Holidays</a>
    </div>
  </div>
</div>
