<div class="vpad--xxl bg--img text--white" style="background-image: url('{{site.img}}/content/flights/bg-dark.jpg');">
  <div class="container container--xxl">
    <div class="text--center">
      <div class="core-sub-title">For the first time ever</div>
      <div class="space--xs"></div>
      <h2 class="core-title core-title--xxl">Fly direct from Europe</h2>
      <div class="row row--valign-center space--xl">
        <div class="col col--6">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/flights/01.jpg');"></div>
          <div class="row row--constant-6-6 row--no-gutters">
            <div class="col">
              <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/flights/02.jpg');"></div>
            </div>
            <div class="col">
              <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/flights/03.jpg');"></div>
            </div>
          </div>
        </div>
        <div class="col col--6 text--left">
          <p class="text--lg">British Airways have recently launched the only direct route to New Orleans from Europe, flying from London Heathrow. The Crescent City is now just a short hop south, so why wait? You could be jiving on Frenchmen St in no time... </p>
          <div class="space--sm"></div>
          <a id="track-btn-footer-flights" href="{{site.baseurl}}/flights" class="btn btn--red">See All Flights</a>
        </div>
      </div>
    </div>
  </div>
</div>