---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  content: >
    <div class="container text--center">
      <h1 class="banner-title banner-title--overview">New<br>Orleans</h1>
      <div class="space--sm"></div>
      <a href="#video" id="video-overview-button" class="btn btn--lg btn--blue">Watch Video</a>
    </div>
---

<div class="container vpad--xxl">
  <div class="row row--valign-center">
    <div class="col col--xl-5">
      <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/overview/01.jpg');">
        <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
      </div>
      <div class="row row--constant-6-6 row--no-gutters">
        <div class="col">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/overview/02.jpg');">
            <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
          </div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/overview/03.jpg');">
            <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col--xl-7">
      <p>{{site.description}}</p>
      <p>The French Quarter echoes with a chorus of street musicians, soulful melodies gracing the wrought-iron balconies of the colourful French townhouses. Southern hospitality abounds from down-to-earth eateries and eclectic dive-bars, where Creole flavours spice the gumbo, and forward-thinking chefs push the envelope on the city’s foodie offerings. High-society hotel bars offer timeless glamour alongside jazz bars that sing frenetic melodies deep into the night – New Orleans offers fortuitous adventure on every street.</p>
      <p>Discover it for yourself with the only year-round, non-stop flights from London, with British Airways.</p>
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/flights" class="btn btn--outline btn--outline-blue">Take Me There</a>
    </div>
  </div>
</div>

<div class="bg--light">
  <div class="wp" id="video"></div>
  <div class="container vpad--xxl">

    <div class="width width--xxl text--center">
      <div class="title title--xl">Watch our New Orleans adventure</div>
      <p class="text--xl width width--lg">Let our editor Ollie Jones show you around the Crescent City…</p>
      <div class="space--xl"></div>
    </div>

    <div class="video js-youtube-thumbnail" id="video-overview" data-thumbnail-img="{{site.img}}/content/overview/video.jpg">
      <iframe class="video__iframe" src='https://www.youtube.com/embed/kkn2z2uWpgU?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen="allowfullscreen"></iframe>
    </div>

    </div>

  </div>
</div>



<div class="vpad--xxxl">
  <div class="container">
    <div class="row row--6-6 row--valign-center">
      <div class="col">
        <div class="bg-img bg-img--16-9 bg-img--lg-1-1 bg-img--xxl-3-2" style="background-image: url('{{site.img}}/content/overview/ollie.jpg');">
          <a href="{{site.baseurl}}/blog" class="bg-img__link"></a>
        </div>
      </div>
      <div class="col">
        <div class="width width--lg">
          {% assign blog-page = site.html_pages | where: "id", "blog" %}
          {% for page in blog-page %}
            <h4 class="sub-title sub-title--sm">New Editor's Blog</h4>
            <div class="space--xs"></div>
            <h3 class="title title--lg">{{page.title}}</h3>
            <p class="text--lg">{{page.intro}}</p>
          {% endfor %}
          <div class="space--md"></div>
          <a href="{{site.baseurl}}/blog" class="btn btn--outline btn--outline-blue">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg--light">
  <div class="container vpad--xxxl">
    <div class="width width--lg text--center">
      <div class="title title--xl">Explore NOLA</div>
      <div class="space--xl"></div>
    </div>
    <div class="row row--sm-6-6 row--xxl-3-3-3-3 row--gutters-sm">
      {% assign content-pages = site.html_pages | where: 'group-parent', 'explore' | sort: 'group-order' %}
      {% for page in content-pages %}
      <div class="col">
        <div class="width width--sm">
          <div class="bg-img bg-img--1-1" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');">
            <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
            <div class="bg-img__bg-overlay"></div>
            <div class="bg-img__content">
              <div class="title title--lg">{{page.nav-title}}</div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
