// background styles

.bg {
  &--white { background-color: $white; }
  &--light { background-color: $nola-blue-darker; }
  &--dark  { background-color: $nola-blue-darker; }
  &--darker  { background-color: $nola-blue-darkest; }
  &--img   { @include background-attributes; }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    @include background-attributes;
    background-color: $grey-darker;
  }
}