<a id="track-partner-logo-new-orleans-tb" class="logo logo--new-orleans-tb{% if include.small %} logo--new-orleans-tb-sm{% endif %}" href="https://www.neworleans.com/plan/">
  <img src="{{site.img}}/logo/new-orleans.svg" alt="New Orleans Convention & Vistors Bureau Logo">
</a>
<a id="track-partner-logo{{include.placement | prepend: '-'}}" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{site.client.link}}">
  <img src="{{site.img}}/logo/partner.svg" alt="{{site.client.name}} Logo">
</a>